[flake8]
max-line-length = 88
extend-ignore = 
    E203
    W503
    E501
    E401
    E402
    D100
    D104
    F821
    F841
exclude = 
    .git,
    __pycache__,
    .venv,
    .mypy_cache,
    build,
    dist,
    *.egg-info
per-file-ignores =
    # Ignore specific files if needed
    # __init__.py: F401 